@import url('./__image/news-card__image.css');
@import url('./__button-wrap/news-card__button-wrap.css');
@import url('./__button/news-card__button.css');
@import url('./__button/news-card__button_save.css');
@import url('./__button/news-card__button_delete.css');
@import url('./__keyword/news-card__keyword.css');
@import url('./__prompt/news-card__prompt.css');
@import url('./__description/news-card__description.css');
@import url('./__date/news-card__date.css');
@import url('./__title/news-card__title.css');
@import url('./__text/news-card__text.css');
@import url('./__source/news-card__source.css');

.news-card {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}