.popup__close {
  width: 26px;
  position: absolute;
  top: -41px;
  right: -41px;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__close {
    top: -45px;
    right: 21px;
    width: 14px;
  }
}
