.button.button__log-out {
  margin-left: 5px;
}

.button.button__log-out:hover {
  color: #000;
  background-color: #fff;
}

.button.button__log-out:hover svg path {
  fill: #000;
}

@media screen and (max-width: 640px) {
  .button.button__log-out {
    margin-left: 0;
  }
}