.news-card__button {
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 0.78rem;
  line-height: 1.5;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
}